a {
 color: inherit;
}

.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: rgb(114,125,113);
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 97%;
    height: 120px;
    padding-buttom: 1%;
    color: #FFFFFF;
}

.head img{
    width: 100px;
    height: 100px;
}

.name {
    display: inline-block;
    width: 50%;
    margin-buttom: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.button {
    position: relative;
    background-color: #302a24;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px;
    width: 70px;
    height: 30px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1%;
    align-self: center;
}



.button1 {
  background-color: #DDDBCB;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.button1:hover {opacity: 1}



.footer{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 40%;
    text-align: center;
    display: inline-block;
    background-color: rgb(114,125,113);
    color: #FFFFFF;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 97%;
    height: 100px;
}

.spaces{
    width: 40%;
}
.img_welcome{
    margin-left: 15%;
    display: inline-block;
}


.img_text{

    display: inline-block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 30%;
}

.img_text1{

    display: inline-block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 50%;
}


.welcome{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    display: inline-block;
}

.heads{
    display: inline-block;
    width: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
}
.form-control {
    display: block;
    text-align: center;
    width: 30%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 34%;
}

.usernames{
    display: inline-block;
    width: 30%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align: left;
    margin-top: 2%;
    margin-left: 21%;
}

.sdvig{
    margin-top: 3%;
    margin-left: 15%;
}

.some-text{
 display: inline-block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin-left: 15%;
    text: center;
}

.gradient{
  font-size: 27px;
  font-weight: 600;
  background-image: linear-gradient(to left, #4d685a, #aa998f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  width: 30%;
   margin-left: 15%;
   font-family: Verdana, Helvetica, Arial, sans-serif;

}


.inner-img {
    margin-left: 15%;
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

.otstup{
    margin: 2%;
}
.courses{
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.courses1{
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
}

.courses a{
     height: 50px;
     align-self: center;
}

.onecourse{
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start ;
    outline: solid rgb(195,162,158);
    border-radius: 1rem;
    margin-right: 3%;
    margin-bottom: 3%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
.onecourse:hover{
    transform: scale(1.03);
    background-color: #f0f0f0;
}

.text-course{
    padding: .75rem;
    margin-left: 1%;
}

.text-course1{
    margin-left: 1%;
    text-align: center;
}


.card-a{
    text-decoration:none;
    color: black;

}


.home-buttons{
display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 3%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    align-self: center;
}

.all-courses{
    margin-left: 21%;
    margin-right: 21%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    flex-start;
    justify-content: center;
}

.all-onecourse{
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start ;
    outline: solid rgb(195,162,158);
    border-radius: 1rem;
    margin-right: 3%;
    margin-top: 3%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.all-onecourse:hover {
    background-color: #f0f0f0;
    transform: scale(1.01);
}

.all-onecourse h3{
    margin-left: 3%;
}

.all-onecourse p{
    margin-left: 3%;
}

.all-onecourse-a{
    text-decoration:none;
    color: black;

}


.main-info {
    width: 70%; /* Ширина блока */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 40px; /* Отступы вокруг текста */
    background-color: #ffffff; /* Цвет фона */
    border: 2px solid #ccc; /* Рамка вокруг блока */
    border-radius: 20px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.main-info h2 {
    font-size: 28px; /* Размер заголовка */
    color: #333; /* Цвет текста */
}

.main-info p {
    margin-bottom: 20px;
    color: var(--text-strong-foreground-base);
    font-size: 18px;
    line-height: 1.56;
    overflow-wrap: break-word;
}

.delete-button {
    background-color: #c2ccbe;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.delete-button:hover {
    background-color: #cca7a7;
    color: #111111;
    border-color: #000000;
}

.delete-button:hover::after {
    content: "Удалить";
}

.delete-button::before {
    content: "Добавлен";
}


.delete-button:hover::before {
    display: none;
}

.add-button {
    background-color: #ffffff;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.add-button:hover {
    background-color: #f7f5d7;
    color: #111111;
    border-color: #000000;
}

.course-del-button {
    margin-left: 3%;
    margin-bottom: 10px;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

.login-button,
.register-button,
.logout-button,
.courses-button{
    padding: 30px 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

.login-button {
    background-color: #4CAF50;
    color: white;
}

.login-button:hover {
    background-color: #45a049;
}

.register-button {
    background-color: #008CBA;
    color: white;
}

.register-button:hover {
    background-color: #007bb9;
}

.logout-button {
    background-color: #f44336;
    color: white;
}

.logout-button:hover {
    background-color: #d32f2f;
}
.courses-button {
    background-color: #FFA500; /* Оранжевый цвет */
    color: white; /* Белый текст */
}

.courses-button:hover {
    background-color: #FF8C00; /* Темно-оранжевый цвет при наведении */
}

.lesson-block {
    width: 70%;
    margin: 0 auto;
}

.lesson-block h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.lesson-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.lesson-button:hover {
    background-color: #45a049;
}