.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: rgb(114,125,113);
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 97%;
    height: 120px;
    padding-buttom: 1%;
    color: #FFFFFF;
}

.head img{
    width: 100px;
    height: 100px;
}

.name {
    display: inline-block;
    width: 50%;
    margin-buttom: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.button {
    position: relative;
    background-color: #302a24;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px;
    width: 70px;
    height: 30px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1%;
    align-self: center;
}



.button1 {
  background-color: #DDDBCB;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.button1:hover {opacity: 1}



.footer{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 40%;
    text-align: center;
    display: inline-block;
    background-color: rgb(114,125,113);
    color: #FFFFFF;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 97%;
    height: 100px;
}

.spaces{
    width: 40%;
}
.img_welcome{
    margin-left: 15%;
    display: inline-block;
}


.img_text{

    display: inline-block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 30%;
}

.img_text1{

    display: inline-block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 50%;
}


.welcome{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    display: inline-block;
}

.heads{
    display: inline-block;
    width: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
}
.form-control {
    display: block;
    text-align: center;
    width: 30%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 34%;
}

.usernames{
    display: inline-block;
    width: 30%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align: left;
    margin-top: 2%;
    margin-left: 21%;
}

.sdvig{
    margin-top: 3%;
    margin-left: 15%;
}

.some-text{
 display: inline-block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin-left: 15%;
    text: center;
}

.gradient{
  font-size: 27px;
  font-weight: 600;
  background-image: linear-gradient(to left, #4d685a, #aa998f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  width: 30%;
   margin-left: 15%;
   font-family: Verdana, Helvetica, Arial, sans-serif;

}


.inner-img {
    margin-left: 15%;
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

.otstup{
    margin: 2%;
}
.courses{
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.courses1{
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
}

.courses a{
     height: 50px;
     align-self: center;
}

.onecourse{
     display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start ;
    outline: solid rgb(195,162,158);
    border-radius: 1rem;
    margin-right: 3%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}


.text-course{
    padding: .75rem;
    margin-left: 1%;
}

.text-course1{
    margin-left: 1%;
    text-align: center;
}


.card-a{
    text-decoration:none;
    color: black;

}


.home-buttons{
display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 3%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    align-self: center;
}

.all-courses{
    margin-left: 21%;
    margin-right: 21%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    flex-start;
    justify-content: center;
}

.all-onecourse{

     display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start ;
    outline: solid rgb(195,162,158);
    border-radius: 1rem;
    margin-right: 3%;
    margin-top: 3%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.all-onecourse h3{
    margin-left: 3%;
}

.all-onecourse p{
    margin-left: 3%;
}

.all-onecourse-a{
    text-decoration:none;
    color: black;

}
