<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>science school</title>
        <link rel="stylesheet" href="../../../static/styles.css">

</head>

<body>
    <div class="head">
        <h1 class="name">*Школа</h1>
        {% if current_user.is_authenticated %}
            <a class="button" href="/home/personal-class/<{{ current_user.email }}>">{{ current_user.name }}</a>
            <a class="button" href="/logout">Выйти</a>
            <a href="/home" class="button">Home</a>
            <img class="avatar" src="../../../static/users_photo/{{ current_user.photo }}" alt="no">
    {% else %}
            <a href="/login" class="button">Log In</a>
            <a href="/login/registration" class="button">Register</a>
            <a href="/home" class="button">Home</a>
    {% endif %}

        </div>

</body>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer>
    <div class="footer">
            <p>
                Contacts
            </p>
    </div>
</footer>
</html>