{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/styles.css">
    <h3 class="heads">Изменения</h3>

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.crsf_token}}
        <p>
        <p class="heads">{{ form.name.label }}</p><br>
            {{ form.name(class="form-control", value=user.name ) }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        <p class="heads">{{ form.password.label }}</p><br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        <p class="heads">{{ form.about.label }}</p><br>
            {{ form.about(class="form-control", value=user.about) }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        </p>
        <p>
        <p class="heads">{{ form.image.label }}</p><br>
            {{ form.image(class="form-control") }}<br>
            {% for error in form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <h3 class="heads">{{ form.submit(type="submit", class="button1") }}</h3>
        <div class="heads">{{ message }}</div>
    </form>

{% endblock %}