{% extends "base.html" %}
{% block content %}

<h2 class="gradient">{{ course.title }}</h2>
<div class="text-block">
    <div class="main-info">
    <p>{{ course.content }}</p>
</div>
   <div class="lesson-block">
    <h2>Список уроков</h2>
    <ul>
        <li><a href="/home/all-courses/{{ course.id }}/1" class="lesson-button">Урок 1: Введение в тему</a></li>
        <li><a href="/home/all-courses/{{ course.id }}/2" class="lesson-button">Урок 2: Основные понятия</a></li>
        <li><a href="/home/all-courses/{{ course.id }}/3" class="lesson-button">Урок 3: Практические примеры</a></li>
    </ul>
</div>
</div>

{% endblock %}