<script src="../../../static/buttons_all-onecourse.js"></script>
{% extends "base.html" %}

{% block content %}

<h2 class="usernames">Мои курсы</h2><br>

    {% if my_courses != '1' %}
    <div class="otstup">
        <div class="courses">
            {% for i in range(len) %}
            {% if i < 3 %}
                <div class="onecourse" data-course-id="{{ my_courses[i].id }}">
                    <h3 class="text-course"><a  class='card-a'>{{ my_courses[i].title }}</a></h3>
                        <p class="text-course"><a  class='card-a'>{{ ' '.join(course[i].description.split()[:5]) }}...</a></p>
                    <a class="delete-button" href="/delete_my_course/{{ my_courses[i].id }}/1"></a>
                </div>
            {% endif %}
        {% endfor %}
        <a class="button1" href="/home/my-courses">Просмотреть все</a>
        </div>
    </div>
    {% else %}
    <h2 class="usernames">Вы не добавили ни один курс</h2><br>
    {% endif %}
<h2 class="usernames">Все курсы</h2><br>
<div class="otstup">
<div class="courses">
    {% for i in range(3) %}
        <div class="onecourse" data-course-id="{{ course[i].id }}">
            <h3 class="text-course"><a  class='card-a'>{{ course[i].title }}</a></h3>
                <p class="text-course"><a  class='card-a'>{{ ' '.join(course[i].description.split()[:5]) }}...</a></p>
                {% if userinf != '' %}
                    {% if checked != '' %}
                        {% if course[i].id in checked %}
                            <a class="delete-button" href="/delete_my_course/{{ course[i].id }}/1"></a>
                        {% else %}
                            <a class="add-button" href="/add_my_course/{{ course[i].id }}">Добавить</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
        </div>
    {% endfor %}
    <div class="home-buttons">
    <a class="button1" href="/home/all-courses">Просмотреть все</a>
    </div>
    </div>

</div>

{% endblock %}