<script src="../../../static/buttons.js"></script>
{% extends "base.html" %}

{% block content %}

<form action="" method="post">
{% if my_courses != '' %}
<h2 class="usernames">Мои курсы</h2><br>

    {{ form.hidden_tag() }}
    {% if my_courses != '1' %}
    <div class="otstup">
        <div class="courses">
            {% for i in range(len) %}
            {% if i < 3 %}
                <div class="onecourse">
                    <h3 class="text-course"><a  class='card-a' href="/">{{ my_courses[i].title }}</a></h3>
                        <p class="text-course"><a  class='card-a' href="/">{{ ' '.join(course[i].description.split()[:5]) }}...</a></p>
                    <p class="text-course"><u>Добавлен</u></p>
                </div>
            {% endif %}
        {% endfor %}
        <a class="button1" href="/home/my-courses">Просмотреть все</a>
        </div>
    </div>
    {% else %}
    <h2 class="usernames">Вы не добавили ни один курс</h2><br>
    {% endif %}
{% endif %}
<h2 class="usernames">Все курсы</h2><br>
<div class="otstup">

<div class="courses">
    {% for i in range(3) %}
        <div class="onecourse">
            <h3 class="text-course"><a  class='card-a' href="/">{{ course[i].title }}</a></h3>
                <p class="text-course"><a  class='card-a' href="/">{{ ' '.join(course[i].description.split()[:5]) }}...</a></p>
                {% if userinf != '' %}
                    {% if checked != '' %}
                        {% if course[i].id in checked %}
                                <p class="text-course"><u>Добавлен</u></p>
                                <div class="courses1">
                                <input type="checkbox" name="check_box" value="{{ course[i].id }}" > <p class="text-course1"><u>Удалить</u></p>
                                    </div>
                        {% else %}
                            <div class="courses1">
                                <input type="checkbox" name="check_box" value="{{ course[i].id }}" > <p class="text-course1"><u>Добавить</u></p>
                                    </div>
                        {% endif %}
                    {% else %}
                         <div class="courses1">
                                <input type="checkbox" name="check_box" value="{{ course[i].id }}" > <p class="text-course1"><u>Добавить</u></p>
                                    </div>
                    {% endif %}
                {% endif %}
        </div>
    {% endfor %}
    <div class="home-buttons">
    <a class="button1" href="/home/all-courses">Просмотреть все</a>
        {% if userinf != '' %}
            <p>{{ form.submit(type="submit", class="button1") }}</p>
        {% endif %}

    </div>
    </div>

</div>
    </form>

{% endblock %}