{% extends "base.html" %}

{% block content %}
    <div class="welcome">
        <div class="spaces"></div>
        <img class="img_welcome" src="static/welcome1.png">
        </div>
        <p class="img_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam pellentesque nec nam aliquam. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Diam in arcu cursus euismod quis viverra nibh. Tincidunt id aliquet risus feugiat in ante. Et malesuada fames ac turpis egestas maecenas pharetra. Dignissim convallis aenean et tortor at risus. Phasellus faucibus scelerisque eleifend donec. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. Tempus quam pellentesque nec nam aliquam sem et tortor consequat. Libero enim sed faucibus turpis in. Ac tortor vitae purus faucibus ornare suspendisse. Ac tortor vitae purus faucibus ornare suspendisse sed. Mi proin sed libero enim sed.

Arcu felis bibendum ut tristique et egestas quis ipsum. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Eget gravida cum sociis natoque penatibus. Egestas diam in arcu cursus. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Sit amet luctus venenatis lectus magna fringilla. Pharetra vel turpis nunc eget. Aliquam sem et tortor consequat. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh. Dictumst quisque sagittis purus sit amet. Facilisi morbi tempus iaculis urna id.

Metus vulputate eu scelerisque felis. Et malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Purus faucibus ornare suspendisse sed nisi lacus. Eget lorem dolor sed viverra ipsum nunc aliquet. Sociis natoque penatibus et magnis dis parturient. Amet tellus cras adipiscing enim eu turpis. Luctus accumsan tortor posuere ac ut consequat semper viverra. Porttitor eget dolor morbi non arcu risus. Urna neque viverra justo nec ultrices dui sapien eget mi. Quis blandit turpis cursus in hac habitasse platea. Donec adipiscing tristique risus nec feugiat in fermentum. Scelerisque eu ultrices vitae auctor. Velit euismod in pellentesque massa placerat duis ultricies lacus. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Morbi tristique senectus et netus. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. In hac habitasse platea dictumst vestibulum rhoncus. Sapien eget mi proin sed libero enim sed. Nisi quis eleifend quam adipiscing.
        </p>
    </div>


{% endblock %}