<script src="../../../static/buttons_all-onecourse.js"></script>
{% extends "base.html" %}

{% block content %}

<h2 class="gradient">Мои курсы</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
<div class="all-courses">
{% for i in range(len) %}
    <div class="all-onecourse" data-course-id="{{ course[i].id }}">
<h3><a class="all-onecourse-a">{{ course[i].title }}</a></h3>
        <p><a class="all-onecourse-a">{{ course[i].description }}</a></p>
        <div class="course-del-button">
        <a class="delete-button" href="/delete_my_course/{{ course[i].id }}/2"></a>
            </div>
        </div>
{% endfor %}
        {% if len == 0 %}
        <h2 class="usernames">Вы не добавили ни один курс</h2>
        {% endif %}
    </div>
            </form>

{% endblock %}