{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/styles.css">
    <h3 class="heads">Зарегистрироваться</h3>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <p class="heads">{{ form.name.label }}</p><br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        <p class="heads">{{ form.email.label }}</p><br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        <p class="heads">{{ form.password.label }}</p><br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
        <p class="heads">{{ form.about.label }}</p><br>
            {{ form.about(class="form-control") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="heads">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p class="heads">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div class="heads">{{ message }}</div>
    </form>

{% endblock %}