.head {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    display: inline-block;
    background-color: rgb(190, 187, 177);
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 97%;
    height: 100px;
}

.name {
    display: inline-block;
    width: 72%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.button {
    position: relative;
    background-color: #302a24;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px;
    width: 160px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.footer{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 40%;
    text-align: center;
    display: inline-block;
    background-color: rgb(190, 187, 177);
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 97%;
    height: 100px;
}